.header{
    background-color: #8dd172;
    }
    .fondo-boton{
        background-color: #5875b7;
    }
    .boton-registrarse{
        text-decoration: none;
        background-color: rgb(55, 187, 77);
    }