<<<<<<< HEAD

   
=======
.header{
    background-color: rgb(48,83,157);
    }
    .fondo-boton{
        background-color: #5875b7;
    }
    .boton-registrarse{
        text-decoration: none;
    }
>>>>>>> c2f56ee83be010cdc13acdb99c1df798bc0868f1
