*{
margin: 0;
padding: 0;
}

  .body-class {
    font-family: "Montserrat medium", sans-serif;
    background-color: rgb(237, 237, 237);
  
}

.titulos {
  font-family: "Montserrat medium", sans-serif;
  color: rgb(48,83,157);
  

}



.presentacion-class {
  
  font-family: "Montserrat medium", sans-serif;
 

  
   
}
  
.footer-class{
background-image: linear-gradient(to right,rgb(48,83,157),rgb(79, 176, 129));
font-family: "Montserrat medium", sans-serif;
  
    }
/* pagina user */

.titulo-user {
  font-family: "Montserrat medium", sans-serif;
  color: rgb(48,83,157);


}

.boton-card {
    cursor: pointer;
    background-image: linear-gradient(to right,rgb(48,83,157),rgb(79, 176, 129));
    border: solid 1px;
    transition-duration: 0.2s;
    color: white;
    font-family: "montserrat medium", sans-serif;


}
.div-img-principal img{
  width: 100%;
  height: 89.5vh;
}

.div-img-principal div{
  position: absolute;
  top: 100px;
  right: 150px;
}

.div-mensaje-principal{
  border: 5px solid #03A6A6;
  border-radius: 10px;
  background-color: #BAD9D9;
}

.div-mensaje-principal2{
  position: absolute;
  border: 5px solid #03A6A6;
  background-color: #BAD9D9;
  bottom: 0px;
}

.footer-color{
  background-color: #03A6A6;
}

.card {
  box-shadow: 5px 8px 12px grey;
}

.parrafo{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
/* fin pagina user */


/* pagina profesinal */


  /* fin pagina profesional */
  
